<link rel="stylesheet" href="http://css-spinners.com/css/spinner/dots.css" type="text/css">
<div class="loading-message text-center">
</div>
<div class="loading-container">
<h2>Checkout</h2>
<% if (message) {  %>
<%= message.message %>
<% } %>
<div class="row">
<div class="small-12 medium-7 large-7 columns">
<div class="row">
<div class="small-8 columns checkout-total" >
TOTAL: £ <%= total.toFixed(2) %>
</div>
<div class="small-4 columns">
<a href="/products" class="button" style="margin-top:10px;">Back to Cart</a>
</div>
</div>
  <ul>
  <% var i = 0; for(i; i < current_user.products.length;i++) { %>
  <li class="products" style="margin-top:35px;">
    <h4><%= current_user.products[i].name %></h4>
    <h5>£<%= (parseFloat(current_user.products[i].price)).toFixed(2) %></h5>
    <img src="<%= current_user.products[i].image %>" alt="">
  </li>
  <% } %>
  </ul>

</div>
<div class="small-12 medium-5 large-5 columns">
  <br/>
<h3>Make a Payment</h3>
  <i> Note: This is a fake site, you cannot buy groceries, please visit <a href="http://tesco.com" target="_blank">TESCO</a>.</i>
<form action="/orders" method="POST" id="payment-form">
  <span class="payment-errors"></span>

  <div class="form-row">
    <label>
      <span>Card Number</span>
      <input type="text" size="20" data-stripe="number"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>CVC</span>
      <input type="text" size="4" data-stripe="cvc"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Expiration Month (MM)</span>
      <input type="text" size="2" data-stripe="exp-month"/>
    </label>
    <label>
    <span> Expiration Year (YYYY) </span>
    <input type="text" size="4" data-stripe="exp-year"/>
    </label>
  </div>
  <div class="row">
  <div class="small-5 columns" >  <button type="submit" class="button">Pay</button> </div>
  <div class="small-7 columns" ><i>powered by </i> <img src="/images/stripe.png" width="50" style="background-color:#4ae;padding:3px;margin-left:4px;border-radius:3px;" alt="stipe"></div>

  </div>
</form>
</div>

  </div>
  </div>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">
    // This identifies your website in the createToken call below
    console.log('<%= process.env.STRIPE_API_TEST_PUBLIC_KEY %>')
    Stripe.setPublishableKey('<%= process.env.STRIPE_API_TEST_PUBLIC_KEY %>');
    function stripeResponseHandler(status, response) {
      var $form = $('#payment-form');

      if (response.error) {
        // Show the errors on the form
        $form.find('.payment-errors').text(response.error.message);
        $form.find('button').prop('disabled', false);
      } else {
        // response contains id and card, which contains additional card details
        var token = response.id;
        // Insert the token into the form so it gets submitted to the server
        $form.append($('<input type="hidden" name="stripeToken" />').val(token));
       $('div.loading-container').hide().addClass('dots-loader').fadeIn('slow');
       $('div.loading-message').hide().html('We are processing your payment').fadeIn('slow');
        
        // and submit
        $form.get(0).submit();

      }
    };
 
    jQuery(function($) {

      $('#payment-form').submit(function(event) {
        var $form = $(this);

        // Disable the submit button to prevent repeated clicks
        $form.find('button').prop('disabled', true);

        Stripe.card.createToken($form, stripeResponseHandler);

        // Prevent the form from submitting with the default action
        return false;
      });
    });

   
  </script>
