<div class="row">
<div class="small-12 medium-9 large-7 columns">
<div class="row">
<div class="small-4  columns">
<h2 class="cart-head" style="text-align:left;">My Cart</h2>
</div>
<div class="small-4 columns text-center total"> Total: £<% var i=0,total=0;
for(i;i < products.length;i++) {
total += parseFloat(products[i].price);
}%> <%= total.toFixed(2) %></div>
<div class="small-4 columns text-center"> <a href="/orders/payment"><button class="button alert checkout">Checkout</button></a></div>
</div>
</div>
<div class="small-0 medium-3 large-5 columns"></div>
</div>
<ul><a href="/products/new" style="display:block" class="green-button">Add a New Product</a>
<% var i = 0; for(i; i < products.length;i++) { %>
<li class="products">
  <h4><%= products[i].name %></h4>
  <h5>£<%= (parseFloat(products[i].price)).toFixed(2) %></h5>
  <img src="<%= products[i].image %>" alt="">
  <h5><%= products[i].description %></h5>
<!--   <a href="/products/<%= products[i].id %>/edit" class="button">Edit</a> -->
  <form action="/products/<%= products[i].id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Remove" class="button remove">
  </form>
</li>
<% } %>
</ul>